In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('static/calfire.csv')

In [4]:
df['Longitude'].isna().sum()

0

In [5]:
df['Latitude'].isna().sum()

0

In [6]:
df['Latitude'].dtype

dtype('float64')

In [7]:
df['Longitude'].dtype

dtype('float64')

In [12]:
df[['Longitude', 'Latitude']].sort_values(by='Longitude')

       Longitude    Latitude
945  -124.196290   41.933230
349  -124.072042   40.105882
599  -124.058040   40.457200
904  -124.011680   41.981280
1352 -124.001849   40.888785
...          ...         ...
228    38.178241  120.679019
249    38.453000  121.999000
213    40.340000   37.000000
405    41.460000   40.000000
474   118.908200   34.913000

[1577 rows x 2 columns]