In [36]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('static/calfire.csv')

In [19]:
df['AcresBurned'] = df['AcresBurned'].fillna(0)

In [20]:
df['AcresBurned'].describe()

count      1467.000000
mean       4729.651670
std       28519.314809
min           0.000000
25%          35.000000
50%          98.000000
75%         422.500000
max      410203.000000
Name: AcresBurned, dtype: float64

In [39]:
x = np.quantile(df['AcresBurned'], [0, .25, .5, .75, 1])

for i in x:
    print(i)

0.0
35.0
98.0
422.5
410203.0

In [22]:
cols= df.columns[25:]

df[cols].head()

,Location,Longitude,MajorIncident,Name,PercentContained,PersonnelInvolved,Public,SearchDescription,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,3 miles east of Groveland along Hwy 120,-120.086000,False,Rim Fire,100.0,NaN,True,The Rim Fire was east of Groveland along Highw...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,Angeles National Forest,-118.423176,False,Powerhouse Fire,100.0,NaN,True,The Powerhouse Fire burned in May and June 201...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,Hwy 243 & Hwy 74 near Mountain Center,-116.728850,False,Mountain Fire,100.0,NaN,True,The Mountain Fire burned in July 2013 off High...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,"Deadwood Ridge, northeast of Foresthill",-120.650000,False,American Fire,100.0,NaN,True,The American Fire burned in August 2013 off De...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,Seven miles north of Big Creek,-119.318000,False,Aspen Fire,100.0,NaN,True,The Aspen Fire burned in July 2013 seven miles...,"217 Aspen Fire, July 2013, Big Creek, Fresno ...",2013-07-22T22:15:00Z,Finalized,NaN,NaN,NaN,NaN,bee8c339-4f26-4b78-a5b4-a8a0ebdb8786,2013-09-24T20:15:00Z,NaN

In [23]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'AcresBurned', 'Active',
       'AdminUnit', 'AirTankers', 'ArchiveYear', 'CalFireIncident',
       'CanonicalUrl', 'ConditionStatement', 'ControlStatement', 'Counties',
       'CountyIds', 'CrewsInvolved', 'Dozers', 'Engines', 'Extinguished',
       'Fatalities', 'Featured', 'Final', 'FuelType', 'Helicopters',
       'Injuries', 'Latitude', 'Location', 'Longitude', 'MajorIncident',
       'Name', 'PercentContained', 'PersonnelInvolved', 'Public',
       'SearchDescription', 'SearchKeywords', 'Started', 'Status',
       'StructuresDamaged', 'StructuresDestroyed', 'StructuresEvacuated',
       'StructuresThreatened', 'UniqueId', 'Updated', 'WaterTenders'],
      dtype='object')

In [24]:
df['ArchiveYear'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [30]:
df['SearchDescription'] = df['SearchDescription'].fillna('No Description Available')

In [31]:
df['Fatalities'] = df['Fatalities'].fillna(0)
df['Fatalities']

df.to_csv('static/calfire.csv')

In [4]:
df['Longitude'].isna().sum()

0

In [5]:
df['Latitude'].isna().sum()

0

In [6]:
df['Latitude'].dtype

dtype('float64')

In [7]:
df['Longitude'].dtype

dtype('float64')

In [13]:
df[['Longitude', 'Latitude']].sort_values(by='Latitude')

       Longitude     Latitude
1212 -120.258000  -120.258000
391     0.000000     0.000000
404     0.000000     0.000000
399     0.000000     0.000000
398     0.000000     0.000000
...          ...          ...
1034   33.939428   117.138741
822    34.015742   117.337331
228    38.178241   120.679019
249    38.453000   121.999000
528  -120.841536  5487.000000

[1577 rows x 2 columns]

In [ ]:
df