In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('static/calfire.csv')

In [6]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'AcresBurned', 'Active', 'AdminUnit',
       'AirTankers', 'ArchiveYear', 'CalFireIncident', 'CanonicalUrl',
       'ConditionStatement', 'ControlStatement', 'Counties', 'CountyIds',
       'CrewsInvolved', 'Dozers', 'Engines', 'Extinguished', 'Fatalities',
       'Featured', 'Final', 'FuelType', 'Helicopters', 'Injuries', 'Latitude',
       'Location', 'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')

In [7]:
df['ArchiveYear'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [7]:
df['Fatalities'] = df['Fatalities'].fillna(0)
df['Fatalities']

df.to_csv('static/calfire.csv')

In [4]:
df['Longitude'].isna().sum()

0

In [5]:
df['Latitude'].isna().sum()

0

In [6]:
df['Latitude'].dtype

dtype('float64')

In [7]:
df['Longitude'].dtype

dtype('float64')

In [13]:
df[['Longitude', 'Latitude']].sort_values(by='Latitude')

       Longitude     Latitude
1212 -120.258000  -120.258000
391     0.000000     0.000000
404     0.000000     0.000000
399     0.000000     0.000000
398     0.000000     0.000000
...          ...          ...
1034   33.939428   117.138741
822    34.015742   117.337331
228    38.178241   120.679019
249    38.453000   121.999000
528  -120.841536  5487.000000

[1577 rows x 2 columns]